@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Jost:wght@300&family=Marck+Script&family=Pacifico&family=Tangerine:wght@700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:rgb(134,6,18);
}
body{
	position:relative;
}
/* .goup{
	bottom:0px;
	display: block;
	height: 50px;
	position: fixed;
	right:20px;
  bottom: 20px;
	width:auto;
  cursor: pointer;
  transform: rotate(90deg);
} */
#clock {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    
  }
  .nombres{
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  header h1{
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 4rem;
    width: 140px;
    height:200px;
    margin-bottom:70px;
  }
  header h2{
    font-size: 4rem;
    text-align: center;
    font-family:'Tangerine', cursive;
    margin-bottom:50px;
    font-weight: bold;
  }
  #main-fecha{
    width: 300px;
    font-family: 'Tangerine', cursive;
  }
  header ul{
    border-left: 4px solid rgb(134,6,18);
    border-right: 4px solid rgb(134,6,18);
  }
  header ul li{
      margin-left:5px;
      
  }
  header ul li a{
    color: rgb(85,85,97);                    background-image: linear-gradient;
    font-family:'Marck Script', cursive;
    font-size:30px;
}
  main .mapa{
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .regalos{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    margin-top:40px;
    text-align: center;
  }
  .regalos div p{
    text-align: center;
  }
  .tarjeta{
    margin-left: 34px;
  }
  .card-regalos{
    display: flex;
    justify-content: space-between;
  }
  .tarjeta{
    border: 1px solid gray;
    border-radius:8px;
  }
.tarjeta h1{
  font-family:'Tangerine', cursive;
  font-size: 3rem;
}
  .vestimenta{
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  .vestimenta h2{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    margin:40px;
  }
  .vestimenta h3{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    margin-top:40px;
  }
  #donde-y-cuando{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    margin:40px;
  } 
  #confirmar-asistencia{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    margin-top: 40px;
  }
  #fotos{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
  }
  .card_ubi{
      display:flex;
      justify-content:center;
      flex-direction: column;
      align-items: center;
  }
  .btn-conf-asistencia{
    border-radius: 10px;
    padding: 10px;
    margin:20px 0 20px 0;
    box-shadow: -5px -5px 6px 0px #000000;
    background-color: rgb(134,6,18);
    border: 1px solid rgb(134,6,18);
    
  }
  .instagram{ 
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
  .btn-conf-asistencia a{
    text-decoration: none;
    color:white;
  }
  .enlace-ig a{
    color: white;
    text-decoration: none;
  }
  .enlace-ig{
    text-align: center;
    
  }
  .img-borroso:before{
    content: "";
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    /* background: linear-gradient(90deg, rgb(85,85,97), rgb(134,6,18)); */
    opacity: 0.7;
  }
  .card{
    -webkit-box-shadow: -18px -15px 15px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -18px -15px 15px -8px rgba(0,0,0,0.75);
    box-shadow: -18px -15px 15px -8px rgba(0,0,0,0.75);
  }
  .card_lugares_img{
    height:230px;
    width:auto;
  }
  #carouselExampleIndicators{
    -webkit-box-shadow: -19px -17px 0px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -19px -17px 0px -8px rgba(0,0,0,0.75);
    box-shadow: -19px -17px 0px -8px rgba(0,0,0,0.75);

  }
  .nombres_footer{
    background-image: url("../imagenes/img-footer.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    width:351px; 
    height:200px;
  }
  .nombres_footer div{
    position:absolute;
    left:190px;
    bottom:110px;
    font-family: 'Tangerine', cursive;
  }
  .nombres_footer div h3{
    font-size: 35px;
  }
/* CARD-IMG */
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
/* UBICACION Y HORARIO */
  @keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  /* FOTOS */
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }





  @media (max-width: 768px){
    header nav #navbarNav{
      top: 115px;
      left:0px;
      background-color: white;
      position:absolute;
      z-index: 999;
    }
  }