@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Great+Vibes&family=Jost:wght@300&family=Marck+Script&family=Pacifico&family=Tangerine:wght@700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:rgb(134,6,18);
}
body{
	position:relative;
}
/* .goup{
	bottom:0px;
	display: block;
	height: 50px;
	position: fixed;
	right:20px;
  bottom: 20px;
	width:auto;
  cursor: pointer;
  transform: rotate(90deg);
} */
#clock {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    
  }
  .nombres{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  } 
  header h1{
    text-align: center;
    font-family: 'Marck Script', cursive;
    font-size: 5rem;
    margin-bottom: 50px;
    width: 200px;
    height:200px
  }
  header h2{
    font-size: 4rem;
    text-align: center;
    font-family:'Tangerine', cursive;
    margin-bottom:50px;
    font-weight: bold;
  }
  #main-fecha{
    width: 300px;
    font-family: 'Tangerine', cursive;
  }
  header ul{
    border-left: 4px solid rgb(252,211,217);
    border-right: 4px solid rgb(252,211,217);
  }
  header ul li{
      margin-left:5px;
      
  }
  header ul li a{
    font-family:'Marck Script', cursive;
    font-size:30px;
}
  main .mapa{
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vestimenta{
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  .vestimenta h2{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    margin:40px;
  }
  .vestimenta h3{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    margin-top:40px;
  }
  #donde-y-cuando{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    margin:40px;
  }
  #confirmar-asistencia{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    margin-top: 40px;
  }
  #fotos{
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    margin: 30px;
  }
  .card_ubi{
      display:flex;
      justify-content:center;
      flex-direction: column;
      align-items: center;
  }
  .img-borroso:before{
    content: "";
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    /* background: linear-gradient(90deg, rgb(85,85,97), rgb(134,6,18)); */
    opacity: 0.7;
  }
  .card{
    -webkit-box-shadow: -18px -15px 15px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -18px -15px 15px -8px rgba(0,0,0,0.75);
    box-shadow: -18px -15px 15px -8px rgba(0,0,0,0.75);
  }
  #carouselExampleIndicators{
    -webkit-box-shadow: -19px -17px 0px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -19px -17px 0px -8px rgba(0,0,0,0.75);
    box-shadow: -19px -17px 0px -8px rgba(0,0,0,0.75);

  }

/* CARD-IMG */
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
/* UBICACION Y HORARIO */
  @keyframes tracking-in-expand-fwd-bottom {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px) translateY(500px);
              transform: translateZ(-700px) translateY(500px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }
  /* FOTOS */
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }





  @media (max-width: 768px){
    header nav #navbarNav{
      top: 115px;
      left:0px;
      background-color: white;
      position:absolute;
      z-index: 999;
    }
  }